h3, p {
  margin-bottom: 2rem;
}

.page-title {
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

.row {
  &.no-padding {

    > .columns {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
