/*
 * primary colors
 */

// blue
$deepskyblue: #00B1EC;      // lightblue1
$pictonblue: #43C9F4;       // lightblue2
$richelectricblue: #008FCE; // darkblue1
$allports: #0072AA;         // darkblue2
$darkcerulean: #004E79;     // darkblue3

// lighter greys
$white: #FFF;              // white
$greybg1: #eee;            // rowbg1
$greybg2: #fafafa;         // rowbg2
$greyline: #DDD;           // grey border
$romance: #FDFDFD;         // lightgrey1
$wildsand: #F4F4F4;        // lightgrey2
$lilywhite: #EAEAEA;       // lightgrey3
$alto: #DBDBDB;            // lightgrey4

// darker greys
$bunker: #2A2C2B;          // darkgrey1
$alumninum: #9A9798;       // darkgrey2
$dovegrey: #757575;        // darkgrey3
$darkgrey: #545754;        // darkgrey4
$darkjunglegreen: #1F221F; // darkgrey5


/*
 * secondary colors
 */

// green (turquoise)
$turquoise1: #46ECE1;         // green1
$turquoise2: #34D4C5;         // green2
$lightseagreen: #22B9B2;      // green3
$java: #189B8D;               // green4
$tropicalrainforest: #137F6E; // green5

// berry (red)
$illusion: #F18FB0;      // red1
$razzmatazz: #ED2967;    // red2
$dogwoodrose: #D4165D;   // red3
$jazzberryjam: #AA1057;  // red4
$rosebudcherry: #850C4E; // red5

// purple
$softpurple: #B37AD7; // purple1
$deeplilac: #9956BB;  // purple2
$studio: #7E48A3;     // purple3
$eminence: #64318E;   // purple4
$meteorite: #432070;  // purple5
