.title-bar {
  display: table;
  width: 100%;
  background-color: $deepskyblue;
  border-bottom: 3px solid $pictonblue;
}

.title-menu {
  display: table-cell;
  width: 60px;
}

.title-bar-title {
  width: 100%;
  display: table-cell;

  button {
    color: $white;
  }

  img {
    float: right;
  }
}

.top-bar {
  background-color: $deepskyblue;
  border-bottom: 3px solid $pictonblue;
  padding: 0 !important;

  ul {
    background-color: inherit;
  }

  .top-bar-left {

    .menu > li > a {
      line-height: inherit !important;
    }

    li > a.active {
      color: $white;
      font-weight: bold;
    }
    li > a {
      color: $white;
    }
  }

  .top-bar-right {
    .menu {
      .menu-text {
        line-height: inherit !important;
      }
    }
    button {
      cursor: pointer;
      color: $pictonblue;

      i {
        font-size: 16px;
        margin-right: 2px;
        vertical-align: -3px;
      }
    }
  }
}
