.login-logo {
  margin-top: 20px;
  padding: 2rem 0;
  text-align: center;

  img {
    max-width: 310px;
  }
}

.login-top {
  background-color: $greybg2;
  border: 1px solid $greyline;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
}

.login-bottom {
  background-color: $greybg3;
  border: 1px solid $greyline;
  border-top: 1px solid $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;

  button {
    margin: 0;
  }

  .login-error {
    width: 100%;
    margin-top: 10px;
    color: $dogwoodrose;
    text-align: center;
  }

}
